@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 15px;
  --font-family: 'Roboto Mono', monospace;
  --primary-background-color: #292d3e;
  --light-background-color: #4a4e64;
  --lightest-background-color: #3c40534a;
  --light-mode-background-color: #fafafa;
  --light-mode-text-color: #484b6a;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: $primary-background-color; */
  background: var(--light-mode-background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--light-mode-text-color);
}

#editor {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.editor-toolbar {
  border-radius: 3px 3px 0 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.editor-toolbar .github {
  border: none;
  background: transparent;
}

.editor-toolbar .preview-mode {
  border: none;
  background: transparent;
  margin-top: 5px;
}

.editor-toolbar .preview-mode:hover,
.editor-toolbar .github:hover {
  cursor: pointer;
}

.editor-content {
  height: 100%;
  position: relative;
  overflow: auto;
  padding: 10px;
  border-top: 1px solid var(--light-mode-text-color);
}

.editor-area .editor-empty-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  border-right: 1px solid var(--light-mode-text-color);
  height: 100%;
}

.editor-area .editor-empty-area .prompt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editor-content .editor-area {
  width: 50%;
  height: 100%;
  overflow: auto;
  border-right: 1px solid var(--light-mode-text-color);
}
.editor-content .editor-preview {
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.editor-help {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  padding: 10px 5px;
  background-color: #fff;
}

.editor-help:hover {
  cursor: pointer;
}

.full-width {
  width: 100% !important;
}

.disappear {
  display: none !important;
}

.dropdown {
  position: relative;
  z-index: 999;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
}

.menu-trigger {
  width: 30px;
  border: 1px solid #9d9ea4;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  border-radius: 5px;
  padding: 5px 5px 0;
}

.menu-trigger:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.menu .menu-item {
  padding: 3px 5px;
  font-size: 0.9em;
  margin: 5px;
  border-radius: 2px;
  white-space: nowrap;
}

.menu .menu-item:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
